@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Catamaran-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Lora-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lora';
  font-style: bold;
  font-weight: 700;
  src: url('../fonts/Lora-Bold.ttf') format('truetype');
}

table {
  table-layout: fixed;
}

body {
  font-family: 'Lora', serif;
  font-style: normal;
}

h1 {
  color: #272625;
  font-family: 'Catamaran', sans-serif;
}

h1 small {
  font-family: 'Catamaran';
  letter-spacing: inherit;
  color: #5e5e5f;
}

h5 {
  font-family: 'Lora';
  font-weight: 700;
  font-size: 1.1em;
}

dt {
  font-weight: 400;
  letter-spacing: 0.01em;
}

section, dd:not(:last-child) {
  padding-bottom: 10px;
  padding-bottom: 10px;
}

footer {
  text-align: center;
  padding: 20px 0;
}

.social {
  padding-right: 5px;
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.social:hover {
  opacity: 0.5;
}

.fa-twitter-square {
  color: #55acee;
}

.fa-github-square {
  color: #111;
}

.fa-envelope-square {
  color: #A9A9A9;
}

.fa-linkedin-square {
  color: #0077b5;
}

.fa-flickr {
    color: #0062da;
}
