.avatar {
  width: 150px;
  height: 150px;

  border-radius: 50%;
  object-fit: cover;
}

.invertColor {
  filter: invert(100%);
}

.hoverImage {
  -webkit-transition: opacity 0.15s ease-in-out;
  -moz-transition: opacity 0.15s ease-in-out;
  -ms-transition: opacity 0.15s ease-in-out;
  -o-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}
